.container{
  
   
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: green;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid green;
}
.listItem{
    display: inline;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    color: green;
    cursor: pointer;
    
}
